<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eazy.stcbusiness">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.eazy.stcbusiness.HiltApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stcbusiness"
        tools:targetApi="s">
        <activity
            android:name=".ui.transportation.booknow.TransportationProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transportation.bookschedule.TransportationWaitingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transportation.booknow.TransportationConfirmCheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transportation.booknow.TransportationDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transportation.booknow.TransportationBookNowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transportation.booknow.TransportationMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.happening_ui.HappeningNowCheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.happening_ui.HappeningNowDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.happening_ui.HappeningSearchPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.happening_ui.HappeningEventUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.happening_ui.HappeningNowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.todo_ui.ThingToDoDetailTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.todo_ui.ThingToDoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.todo_ui.SearchDestinationThingsToDoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.todo_ui.ThingToDoActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name="com.eazy.stcbusiness.ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>